// variable color
$text-color1: #363636;
$text-color2: #222222;
$text-color3: #a1a1a1;

$brand-color1: #6fa052;
$brand-color2: #363636;

$support-color: #f8f8f8;

// variable width height
$hotline-width: 166px;
$hotline-height: 25px;

$bgbanner-height: 500px;

$bannerContainer-width: 380px;

$productContent-width: 582px;
// variable absolute
$switchLeft-left: 50px;
$switchRight-right: 50px;

$bannerInner-top: 134px;
$bannerInner-left: 155px;

@mixin flexbox($align: flex-start, $justify: flex-start, $dir: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $dir;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

// Main

// Banner
.banner {
  position: relative;
  width: 100%;
  height: $bgbanner-height;
  overflow: hidden;
  & > button {
    outline: none;
    border: none;
    background-color: transparent;
  }
  &__overlay {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
  }
  &__bg {
    width: 100% !important;
    height: $bgbanner-height;
    object-fit: cover;
    &-wrap .owl-dots {
      position: absolute;
      left: 50%;
      bottom: 2.2rem;
      transform: translateX(-50%);
      z-index: 999;
      & .owl-dot {
        border: none;
        outline: none;
        &.active > span {
          position: relative;
          background-clip: content-box;
          border: 1px solid #fff;
          border-radius: 50%;
          background-color: #fff;
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 1.5rem;
            height: 1.5rem;
            border: 1px solid #fff;
            border-radius: 50%;
          }
        }
        & span {
          width: 0.7rem;
          height: 0.7rem;
        }
      }
    }
  }
  &__inner {
    position: absolute;
    top: $bannerInner-top;
    left: $bannerInner-left;
  }
  &__container {
    color: #fff;
    width: $bannerContainer-width;
    &-title {
      font-size: 4.8rem;
      font-weight: 500;
      margin-bottom: 1.6rem;
    }
    &-content {
      font-size: 1.5rem;
      line-height: 2.4rem;
      margin-bottom: 3.2rem;
    }
    &-btn {
      font-size: 1.5rem;
      line-height: 2.4rem;
      color: #000;
      padding: 1rem 2.8rem;
      background-color: #fff;
      outline: none;
      border: none;
      border-radius: 0.2rem;
      &:hover {
        cursor: pointer;
      }
      & > i {
        margin-left: 0.4rem;
      }
    }
  }
  &__switch {
    @include flexbox(center);
    position: absolute;
    left: 50%;
    bottom: 2.2rem;
    transform: translateX(-50%);
    z-index: 999;
    &-circle {
      margin-right: 1.6rem;
      &.active {
        color: #fff;
        padding: 4px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
    }
    &-left {
      position: absolute;
      top: 50%;
      left: $switchLeft-left;
      transform: translateY(-50%);
      z-index: 999;
    }
    &-right {
      position: absolute;
      top: 50%;
      right: $switchRight-right;
      transform: translateY(-50%);
      z-index: 999;
    }
    &-img {
      color: #e5e5e5;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
.owl-carousel .owl-item img {
  width: fit-content;
  object-fit: cover;
}



// Product
.product {
  background-color: $support-color;
  &__wrap {
    margin: 0 auto;
    max-width: 1180px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &__header {
    @include flexbox(center, unset, column);
    padding-top: 80px;
    text-align: center;
    &-title {
      font-size: 4rem;
      color: #000;
    }
    &-content {
      max-width: $productContent-width;
      font-size: 1.5rem;
      line-height: 2.4rem;
      color: $text-color1;
      margin-top: 2rem;
      margin-bottom: 3.2rem;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    grid-gap: 3rem;
    padding-bottom: 8rem;
    &-child {
      &-link {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        &:hover .product__body-text {
          color: $brand-color1;
          text-decoration: underline;
        }
        &:hover .product__body-img {
          transform: scale(1.1);
        }
      }
    }
    &-img {
      width: 100%;
      object-fit: cover;
      transition: all ease 0.3s;
    }
    &-content {
      width: 100%;
      height: 7rem;
      background-color: #fff;

      @include flexbox(center, center);
    }
    &-text {
      font-size: 1.9rem;
      color: #222222;
      transition: all ease 0.2s;
    }
  }
}

// News

.news {
  background-color: #f0f0f0;
  &__wrap {
    margin: 0 auto;
    max-width: 1180px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  &__header {
    @include flexbox(center, unset, column);
    padding-top: 80px;
    text-align: center;
    &-title {
      font-size: 4rem;
      color: #000;
    }
    &-content {
      max-width: $productContent-width;
      font-size: 1.5rem;
      line-height: 2.4rem;
      color: $text-color1;
      margin-top: 2rem;
      margin-bottom: 3.2rem;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 3rem;
    padding-bottom: 7.2rem;
    &-link {
      &:hover .news__body-img {
        transform: scale(1.1);
      }
      &:hover .news__body-content {
        color: $brand-color1;
      }
    }
    &-time {
      font-size: 1.3rem;
      color: #a1a1a1;
      margin: 0.8rem 0;
    }
    &-img {
      width: 100%;
      object-fit: cover;
      transition: all ease 0.3s;
    }
    &-content {
      display: -webkit-box;
      color: #222222;
      font-size: 1.7rem;
      font-weight: 500;
      max-height: 10rem;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }
  }
}
