// variable color
$text-color1: #363636;
$text-color2: #222222;
$text-color3: #a1a1a1;

$brand-color1: #6fa052;
$brand-color2: #363636;

$support-color: #f8f8f8;
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}

/* Mobie */
@media (max-width: 36em) {
  .hide-on-mobile {
    display: none;
  }

  .banner {
    &__inner {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &__container {
      width: 250px;
    }
  }

  .news__body-child {
    margin-bottom: 2rem;
  }
  .product__body {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

/* Mobie & Tablet */
@media (min-width: 36.0625em) and (max-width: 74.9375em) {
  .hide-on-tablet-mobie {
    display: none;
  }
  .banner {
    margin-top: 8.4rem;
  }
  .news__body-child {
    margin-bottom: 2rem;
  }
}

/* PC */
@media (min-width: 75em) {
  .hide-on-pc {
    display: none;
  }
}