html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
}
.banner > button {
  outline: none;
  border: none;
  background-color: transparent;
}
.banner__overlay {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}
.banner__bg {
  width: 100% !important;
  height: 500px;
  object-fit: cover;
}
.banner__bg-wrap .owl-dots {
  position: absolute;
  left: 50%;
  bottom: 2.2rem;
  transform: translateX(-50%);
  z-index: 999;
}
.banner__bg-wrap .owl-dots .owl-dot {
  border: none;
  outline: none;
}
.banner__bg-wrap .owl-dots .owl-dot.active > span {
  position: relative;
  background-clip: content-box;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: #fff;
}
.banner__bg-wrap .owl-dots .owl-dot.active > span::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #fff;
  border-radius: 50%;
}
.banner__bg-wrap .owl-dots .owl-dot span {
  width: 0.7rem;
  height: 0.7rem;
}
.banner__inner {
  position: absolute;
  top: 134px;
  left: 155px;
}
.banner__container {
  color: #fff;
  width: 380px;
}
.banner__container-title {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 1.6rem;
}
.banner__container-content {
  font-size: 1.5rem;
  line-height: 2.4rem;
  margin-bottom: 3.2rem;
}
.banner__container-btn {
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #000;
  padding: 1rem 2.8rem;
  background-color: #fff;
  outline: none;
  border: none;
  border-radius: 0.2rem;
}
.banner__container-btn:hover {
  cursor: pointer;
}
.banner__container-btn > i {
  margin-left: 0.4rem;
}
.banner__switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  position: absolute;
  left: 50%;
  bottom: 2.2rem;
  transform: translateX(-50%);
  z-index: 999;
}
.banner__switch-circle {
  margin-right: 1.6rem;
}
.banner__switch-circle.active {
  color: #fff;
  padding: 4px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.banner__switch-left {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  z-index: 999;
}
.banner__switch-right {
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  z-index: 999;
}
.banner__switch-img {
  color: #e5e5e5;
}
.banner__switch-img:hover {
  cursor: pointer;
}

.owl-carousel .owl-item img {
  width: fit-content;
  object-fit: cover;
}

.product {
  background-color: #f8f8f8;
}
.product__wrap {
  margin: 0 auto;
  max-width: 1180px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.product__header {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  padding-top: 80px;
  text-align: center;
}
.product__header-title {
  font-size: 4rem;
  color: #000;
}
.product__header-content {
  max-width: 582px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #363636;
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}
.product__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  grid-gap: 3rem;
  padding-bottom: 8rem;
}
.product__body-child-link {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.product__body-child-link:hover .product__body-text {
  color: #6fa052;
  text-decoration: underline;
}
.product__body-child-link:hover .product__body-img {
  transform: scale(1.1);
}
.product__body-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
}
.product__body-img-wrap {
  display: contents;
  overflow: hidden;
}
.product__body-content {
  width: 100%;
  height: 7rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.product__body-text {
  font-size: 1.9rem;
  color: #222222;
  transition: all ease 0.2s;
}

.news {
  background-color: #f0f0f0;
}
.news__wrap {
  margin: 0 auto;
  max-width: 1180px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.news__header {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-direction: column;
  padding-top: 80px;
  text-align: center;
}
.news__header-title {
  font-size: 4rem;
  color: #000;
}
.news__header-content {
  max-width: 582px;
  font-size: 1.5rem;
  line-height: 2.4rem;
  color: #363636;
  margin-top: 2rem;
  margin-bottom: 3.2rem;
}
.news__body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 3rem;
  padding-bottom: 7.2rem;
}
.news__body-link > img {
  width: 100%;
  object-fit: cover;
  transition: all ease 0.3s;
}
.news__body-link:hover .news__body-content {
  color: #6fa052;
}
.news__body-time {
  font-size: 1.3rem;
  color: #a1a1a1;
  margin: 0.8rem 0;
}
.news__body-content {
  display: -webkit-box;
  color: #222222;
  font-size: 1.7rem;
  font-weight: 500;
  max-height: 10rem;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
/* Mobie */
@media (max-width: 36em) {
  .hide-on-mobile {
    display: none;
  }

  .banner__inner {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner__container {
    width: 250px;
  }

  .news__body-child {
    margin-bottom: 2rem;
  }
}
/* Mobie & Tablet */
@media (min-width: 36.0625em) and (max-width: 74.9375em) {
  .hide-on-tablet-mobie {
    display: none;
  }

  .news__body-child {
    margin-bottom: 2rem;
  }
}
/* PC */
@media (min-width: 75em) {
  .hide-on-pc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
}
/* Mobie */
@media (max-width: 36em) {
  .hide-on-mobile {
    display: none;
  }

  .header__bottom {
    height: unset;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }

  .nav__logo {
    padding-top: 1rem;
  }

  .mobile__menu {
    padding: 1.5rem;
  }
  .mobile__menu > i {
    transition: all ease 0.2s;
  }
  .mobile__menu:hover > i {
    color: #6fa052;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: all ease 0.3s;
    z-index: 999;
  }
  .nav.active {
    transform: translateX(0);
  }
  .nav__list {
    width: 300px;
    background-color: #a1a1a1;
    flex-direction: column;
  }
  .nav__item {
    width: 100%;
    margin: 0;
  }
  .nav__item:first-child > i {
    font-size: 2rem;
    padding: 2rem;
  }
  .nav__item:first-child > i:hover {
    color: #6fa052;
  }
  .nav__item-link {
    display: block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
  }
  .nav__item-link:hover {
    background-color: #f8f8f8;
    color: #6fa052;
  }
  .nav__dropdown-item-link {
    width: 100%;
    font-size: 1.8rem;
    background-color: #a1a1a1;
    padding: 1.3rem 5rem;
  }
  .nav__dropdown-item-link > i {
    margin-right: 1rem;
  }

  .drop-down:hover .nav__dropdown {
    display: none;
  }

  .menu-mobile-close {
    display: flex;
    justify-content: flex-end;
  }

  .footer__social {
    margin-bottom: 2rem;
  }
}
/* Mobie & Tablet */
@media (min-width: 36.0625em) and (max-width: 74.9375em) {
  .hide-on-tablet-mobile {
    display: none;
  }

  .header__bottom {
    height: unset;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
  }

  .nav__logo {
    padding-top: 1rem;
  }

  .mobile__menu {
    padding: 1.5rem;
  }
  .mobile__menu > i {
    transition: all ease 0.2s;
  }
  .mobile__menu:hover > i {
    color: #6fa052;
  }

  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    transition: all ease 0.3s;
    z-index: 999;
  }
  .nav.active {
    transform: translateX(0);
  }
  .nav__list {
    width: 300px;
    background-color: #a1a1a1;
    flex-direction: column;
  }
  .nav__item {
    width: 100%;
    margin: 0;
  }
  .nav__item:first-child > i {
    font-size: 2rem;
    padding: 2rem;
  }
  .nav__item:first-child > i:hover {
    color: #6fa052;
  }
  .nav__item-link {
    display: block;
    padding: 1rem 3rem;
    font-size: 1.8rem;
  }
  .nav__item-link:hover {
    background-color: #f8f8f8;
    color: #6fa052;
  }
  .nav__dropdown-item-link {
    width: 100%;
    font-size: 1.8rem;
    background-color: #a1a1a1;
    padding: 1.3rem 5rem;
  }
  .nav__dropdown-item-link > i {
    margin-right: 1rem;
  }

  .menu-mobile-close {
    display: flex;
    justify-content: flex-end;
  }

  .drop-down:hover .nav__dropdown {
    display: none;
  }

  .footer__social {
    margin-bottom: 2rem;
  }
}
/* PC */
@media (min-width: 75em) {
  .hide-on-pc {
    display: none;
  }
}

/*# sourceMappingURL=app.css.map */
