.footer {
  color: #fff;
  background-color: #222222;
  padding-top: 8rem;
}
.footer__contact > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.3rem;
}
.footer__contact > ul > li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 1.6rem 0;
}
.footer__contact > ul > li:first-child {
  padding: 0;
  padding-bottom: 1.6rem;
}
.footer__contact > ul > li > img {
  margin-top: 0.5rem;
  margin-right: 1.2rem;
  align-self: flex-start;
}
.footer__contact > ul > li > p {
  color: #e5e5e5;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
.footer__contact > ul > li > p > span {
  position: relative;
}
.footer__contact > ul > li > p > span:before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  width: 95%;
  background-color: #e5e5e5;
}
.footer__product > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.3rem;
}
.footer__product > ul > li {
  padding-bottom: 2.7rem;
}

.footer__product > ul > li:hover a::before {
  display: block;
}
.footer__product > ul > li > a::before {
  content: "";
  display: none;
  position: absolute;
  top: 50%;
  left: -10px;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #6fa052;
  z-index: 99;
}
.footer__product > ul > li > a {
  position: relative;
  font-size: 1.4rem;
  color: #e5e5e5;
  transition: all ease 0.2s;
}
.footer__product > ul > li:hover > a {
  color: #6fa052;
  text-decoration: underline;
}
.footer__info > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.3rem;
}
.footer__info > ul > li {
  position: relative;
  padding-bottom: 2.7rem;
}
.footer__info > ul > li:hover::before {
  display: block;
}
.footer__info > ul > li:hover > a {
  color: #6fa052;
  text-decoration: underline;
}
.footer__info > ul > li::before {
  content: "";
  display: none;
  position: absolute;
  top: 25%;
  left: -10px;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #6fa052;
  z-index: 99;
}
.footer__info > ul > li > a {
  font-size: 1.4rem;
  color: #e5e5e5;
  transition: all ease 0.2s;
}
.footer__detail > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 2.3rem;
}
.footer__detail > p {
  font-size: 1.3rem;
  line-height: 2.4rem;
  color: #e5e5e5;
  margin-bottom: 1.6rem;
}
.footer__email {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 1.3rem;
  border: 1px solid #505050;
}
.footer__email > input {
  width: 100%;
  flex: 1;
  font-size: 1.4rem;
  color: #e5e5e5;
  background-color: #222222;
  outline: none;
  border: none;
}
.footer__email > button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 5px;
}
.footer__border-top {
  border-top: 1px solid #333333;
  padding-top: 3rem;
  padding-bottom: 3.7rem;
}
.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  color: #E5E5E5;
}
.footer__social > span {
  font-size: 1.4rem;
  margin-right: 4rem;
}
.footer__social-wrap {
  display: flex;
  align-items: center;
}
.footer__social-wrap > a {
  margin-right: 25px;
}
.footer__text {
  display: flex;
  justify-content: flex-end;
  font-size: 1.4rem;
  color: #858585;
}

.scroll {
  display: none;
  position: fixed;
  right: 2rem;
  bottom: 2rem;
}

.scroll.active {
  display: block;
}

.scroll-to-top {
  border: none;
  outline: none;
  padding: 6px 12px;
  background-color: #6fa052;
  border-radius: 12px;
}

.scroll-to-top i {
  color: #fff;
}

.scroll-to-top:focus {
  outline: none;
}
